<div class="todo-wrapper active" cdkDrag>
  <div class="example-box">
    <div class="container">
      <svg width="24px" fill="currentColor" viewBox="0 0 24 24" cdkDragHandle>
        <path
          d="M10 9h4V6h3l-5-5-5 5h3v3zm-1 1H6V7l-5 5 5 5v-3h3v-4zm14 2l-5-5v3h-3v4h3v3l5-5zm-9 3h-4v3H7l5 5 5-5h-3v-3z"
        ></path>
        <path d="M0 0h24v24H0z" fill="none"></path>
      </svg>
      <div *ngFor="let todo of todos; trackBy: trackById">
        <div class="todo-item" [ngClass]="{ completed: todo.completed }">
          <div class="check-box" (click)="toggleCompleted(todo)">
            <i class="material-icons-outlined">check</i>
          </div>
          <p
            class="todo-text"
            *ngIf="todo.editing !== true"
            (click)="startEditing(todo)"
          >
            {{ todo.text }}
          </p>
          <input
            class="todo-input"
            type="text"
            *ngIf="todo.editing === true"
            [value]="todo.text"
            (blur)="finishEditing(todo, $event)"
            (keyup.enter)="finishEditing(todo, $event)"
          />
        </div>
      </div>
    </div>
  </div>
</div>
