<div class="pomodo-wrapper" cdkDrag>
  <div class="pomodoro-container">
    <button class="btn btn-timer btn-focus" id="focus" (click)="focusButton()">
      Focus
    </button>
    <button class="btn btn-break" id="break" (click)="shortBreakButton()">
      Break
    </button>

    <svg width="24px" fill="currentColor" viewBox="0 0 24 24" cdkDragHandle>
      <path
        d="M10 9h4V6h3l-5-5-5 5h3v3zm-1 1H6V7l-5 5 5 5v-3h3v-4zm14 2l-5-5v3h-3v4h3v3l5-5zm-9 3h-4v3H7l5 5 5-5h-3v-3z"
      ></path>
      <path d="M0 0h24v24H0z" fill="none"></path>
    </svg>
  </div>

  <div class="time-btn-wrapper">
    <span class="time">{{ pomodoroTime }}</span>

    <div class="pomodoro-config">
      <label>Change Time</label>
      <input
        type="text"
        [value]="pomodoroTime"
        (input)="updatePomodoroTime($event)"
        maxlength="5"
        required
      />
    </div>

    <div class="time-btn-container">
      <button
        class="btn-start show"
        (click)="startTimer()"
        [class.hide]="timerRunning"
      >
        Start
      </button>
      <button class="btn-pause hide" (click)="pauseTimer()">Pause</button>
      <button class="btn-reset hide" (click)="resetTimer()">Reset</button>
    </div>
  </div>
</div>
