
.app-wrapper {
    display: flex;
    flex-direction: column;
    height: 100vh;
    overflow: hidden;

    
    background-image: url('https://img.freepik.com/vetores-gratis/paisagem-noturna-do-oceano-lua-cheia-e-estrelas-brilham_107791-7397.jpg?w=2000&t=st=1715462035~exp=1715462635~hmac=8e4bef7e5e2ca3194bc3502c203006935c158398ebe5449024eae4d0174da369');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;

    .top-section {
        padding: 20px 0px;
        text-align: center;

        h1 {
            font-size: 120px;
            font-weight: bold;
            color: #f5f5f5;
            text-shadow: 0px 1px 4px rgba(0, 0, 0, 0.5);
        }

        h2 {
            font-size: 28px;
            color: #fff;
            text-shadow: 0px 1px 4px rgba(0, 0, 0, 0.5);
        }
    }

    .content-section {
        flex-grow: 2;
    }

    .bottom-section {
        display: flex;

        app-tabs {
          margin: auto;  
        }
    }
}



