<div class="bookmarks-wrapper">
  <div class="container">
    <div class="bookmark-tiles-container">
      <a
        class="bookmark-tile-box"
        target="_blank"
        href="https://github.com/MichaelDu4rte"
      >
        <img
          src="https://www.svgrepo.com/show/475654/github-color.svg"
          alt=""
        />
        <p class="tile-text">Github</p>
      </a>

      <a
        class="bookmark-tile-box"
        href="https://michaelduarte-portfolio.vercel.app//"
        target="_blank"
      >
        <img src="https://www.svgrepo.com/show/401209/blue-book.svg" alt="" />
        <p class="tile-text">Portfolio</p>
      </a>
      <a
        class="bookmark-tile-box"
        href="https://www.linkedin.com/in/michaeldu4rte/"
        target="_blank"
      >
        <img
          src="https://www.svgrepo.com/show/475661/linkedin-color.svg"
          alt=""
        />
        <p class="tile-text">Linkedin</p>
      </a>
    </div>
  </div>
</div>
