<div class="tabs-container">
  <!-- Bookmarks -->
  <div
    [routerLink]="'bookmarks'"
    routerLinkActive="active"
    class="tab-box"
    (click)="handleTabClick('bookmarks')"
  >
    <div class="tab-title">
      <i class="material-icons-outlined">bookmarks</i>
    </div>
  </div>

  <!-- Schedule -->
  <div
    class="tab-box"
    [routerLink]="'schedule'"
    routerLinkActive="active"
    (click)="handleTabClick('schedule')"
  >
    <div class="tab-title">
      <i class="material-symbols-outlined"> today </i>
    </div>
  </div>

  <!-- Pomodoro -->
  <div
    class="tab-box"
    [routerLink]="'pomodoro'"
    routerLinkActive="active"
    (click)="handleTabClick('pomodoro')"
  >
    <div class="tab-title">
      <i class="material-symbols-outlined">timer</i>
    </div>
  </div>

  <!-- TODO -->
  <div
    [routerLink]="'todo'"
    routerLinkActive="active"
    class="tab-box"
    (click)="handleTabClick('todo')"
  >
    <div class="tab-title">
      <i class="material-icons-outlined">checklist</i>
    </div>
  </div>

  <!-- Finance -->
  <div
    class="tab-box"
    [routerLink]="'finance'"
    routerLinkActive="active"
    (click)="handleTabClick('finance')"
  >
    <div class="tab-title">
      <i class="material-symbols-outlined"> shopping_cart </i>
    </div>
  </div>

  <!-- Gallery -->
  <div
    class="tab-box"
    [routerLink]="'gallery'"
    routerLinkActive="active"
    (click)="handleTabClick('gallery')"
  >
    <div class="tab-title">
      <i class="material-symbols-outlined">collections_bookmark </i>
    </div>
  </div>
</div>
