<div class="tabs-container">
  <div
    [routerLink]="'bookmarks'"
    routerLinkActive="active"
    class="tab-box"
    (click)="handleTabClick('bookmarks')"
  >
    <div class="tab-title">
      <i class="material-icons-outlined">bookmarks</i>
    </div>
  </div>
  <div
    [routerLink]="'todo'"
    routerLinkActive="active"
    class="tab-box"
    (click)="handleTabClick('todo')"
  >
    <div class="tab-title">
      <i class="material-icons-outlined">check</i>
    </div>
  </div>

  <div
    class="tab-box"
    [routerLink]="'pomodoro'"
    routerLinkActive="active"
    (click)="handleTabClick('pomodoro')"
  >
    <div class="tab-title">
      <i class="material-symbols-outlined">timer</i>
    </div>
  </div>

  <div
    class="tab-box"
    [routerLink]="'finance'"
    routerLinkActive="active"
    (click)="handleTabClick('finance')"
  >
    <div class="tab-title">
      <i class="material-symbols-outlined"> attach_money </i>
    </div>
  </div>

  <div
    class="tab-box"
    [routerLink]="'gallery'"
    routerLinkActive="active"
    (click)="handleTabClick('gallery')"
  >
    <div class="tab-title">
      <i class="material-symbols-outlined">collections_bookmark </i>
    </div>
  </div>
</div>
