<div class="shedule-wrapper">
  <!-- Monday Column -->
  <div
    class="shedule-column"
    cdkDropList
    #monday="cdkDropList"
    [cdkDropListData]="mondayItem"
    [cdkDropListConnectedTo]="[monday, tuesday, wednesday, thursday, friday]"
    (cdkDropListDropped)="drop($event)"
    cdkDrag
  >
    <div class="shedule-column-title">
      Monday
      <svg width="24px" fill="currentColor" viewBox="0 0 24 24" cdkDragHandle>
        <path
          d="M10 9h4V6h3l-5-5-5 5h3v3zm-1 1H6V7l-5 5 5 5v-3h3v-4zm14 2l-5-5v3h-3v4h3v3l5-5zm-9 3h-4v3H7l5 5 5-5h-3v-3z"
        ></path>
        <path d="M0 0h24v24H0z" fill="none"></path>
      </svg>
    </div>
    <div class="shedule-items">
      @for (item of mondayItem; track item) {
      <div
        class="shedule-item-input"
        (dblclick)="removeItem(item, mondayItem)"
        cdkDrag
      >
        {{ item }}
      </div>
      }

      <div class="shedule-item-new hide" #newMondayItem>
        <input
          type="text"
          class="shedule-item-input"
          #newMondayItemInput
          autofocus
        />
      </div>
      <div class="shedule-dropzone"></div>
    </div>
    <button
      class="shedule-add-item"
      type="button"
      (click)="
        addItem(newMondayItemInput.value, mondayItem, newMondayItemInput)
      "
    >
      <span>+</span> Add
    </button>
  </div>

  <!-- Tuesday Column -->
  <div
    class="shedule-column"
    cdkDropList
    #tuesday="cdkDropList"
    [cdkDropListData]="tuesdayItem"
    [cdkDropListConnectedTo]="[monday, tuesday, wednesday, thursday, friday]"
    (cdkDropListDropped)="drop($event)"
    cdkDrag
  >
    <div class="shedule-column-title">
      Tuesday
      <svg width="24px" fill="currentColor" viewBox="0 0 24 24" cdkDragHandle>
        <path
          d="M10 9h4V6h3l-5-5-5 5h3v3zm-1 1H6V7l-5 5 5 5v-3h3v-4zm14 2l-5-5v3h-3v4h3v3l5-5zm-9 3h-4v3H7l5 5 5-5h-3v-3z"
        ></path>
        <path d="M0 0h24v24H0z" fill="none"></path>
      </svg>
    </div>
    <div class="shedule-items">
      @for (item of tuesdayItem; track item) {
      <div
        class="shedule-item-input"
        (dblclick)="removeItem(item, tuesdayItem)"
        cdkDrag
      >
        {{ item }}
      </div>
      }

      <div class="shedule-item-new hide" #newTuesdayItem>
        <input type="text" class="shedule-item-input" #newTuesdayItemInput />
      </div>
      <div class="shedule-dropzone"></div>
    </div>

    <button
      class="shedule-add-item"
      type="button"
      (click)="
        addItem(newTuesdayItemInput.value, tuesdayItem, newTuesdayItemInput)
      "
    >
      <span>+</span> Add
    </button>
  </div>

  <!-- Wednesday Column -->
  <div
    class="shedule-column"
    cdkDropList
    #wednesday="cdkDropList"
    [cdkDropListData]="wednesdayItem"
    [cdkDropListConnectedTo]="[monday, tuesday, wednesday, thursday, friday]"
    (cdkDropListDropped)="drop($event)"
    cdkDrag
  >
    <div class="shedule-column-title">
      Wednesday
      <svg width="24px" fill="currentColor" viewBox="0 0 24 24" cdkDragHandle>
        <path
          d="M10 9h4V6h3l-5-5-5 5h3v3zm-1 1H6V7l-5 5 5 5v-3h3v-4zm14 2l-5-5v3h-3v4h3v3l5-5zm-9 3h-4v3H7l5 5 5-5h-3v-3z"
        ></path>
        <path d="M0 0h24v24H0z" fill="none"></path>
      </svg>
    </div>
    <div class="shedule-items">
      @for (item of wednesdayItem; track item) {
      <div
        class="shedule-item-input"
        (dblclick)="removeItem(item, wednesdayItem)"
        cdkDrag
      >
        {{ item }}
      </div>
      }

      <div class="shedule-item-new hide" #newWednesdayItem>
        <input type="text" class="shedule-item-input" #newWednesdayItemInput />
      </div>
      <div class="shedule-dropzone"></div>
    </div>

    <button
      class="shedule-add-item"
      type="button"
      (click)="
        addItem(
          newWednesdayItemInput.value,
          wednesdayItem,
          newWednesdayItemInput
        )
      "
    >
      <span>+</span> Add
    </button>
  </div>

  <!-- Thursday Column -->
  <div
    class="shedule-column"
    cdkDropList
    #thursday="cdkDropList"
    [cdkDropListData]="thursdayItem"
    [cdkDropListConnectedTo]="[monday, tuesday, wednesday, thursday, friday]"
    (cdkDropListDropped)="drop($event)"
    cdkDrag
  >
    <div class="shedule-column-title">
      Thursday
      <svg width="24px" fill="currentColor" viewBox="0 0 24 24" cdkDragHandle>
        <path
          d="M10 9h4V6h3l-5-5-5 5h3v3zm-1 1H6V7l-5 5 5 5v-3h3v-4zm14 2l-5-5v3h-3v4h3v3l5-5zm-9 3h-4v3H7l5 5 5-5h-3v-3z"
        ></path>
        <path d="M0 0h24v24H0z" fill="none"></path>
      </svg>
    </div>
    <div class="shedule-items">
      @for (item of thursdayItem; track item) {
      <div
        class="shedule-item-input"
        (dblclick)="removeItem(item, thursdayItem)"
        cdkDrag
      >
        {{ item }}
      </div>
      }

      <div class="shedule-item-new hide" #newThursdayItem>
        <input type="text" class="shedule-item-input" #newThursdayItemInput />
      </div>
      <div class="shedule-dropzone"></div>
    </div>

    <button
      class="shedule-add-item"
      type="button"
      (click)="
        addItem(newThursdayItemInput.value, thursdayItem, newThursdayItemInput)
      "
    >
      <span>+</span> Add
    </button>
  </div>

  <!-- Friday Column -->
  <div
    class="shedule-column"
    cdkDropList
    #friday="cdkDropList"
    [cdkDropListData]="fridayItem"
    [cdkDropListConnectedTo]="[monday, tuesday, wednesday, thursday, friday]"
    (cdkDropListDropped)="drop($event)"
    cdkDrag
  >
    <div class="shedule-column-title">
      Friday
      <svg width="24px" fill="currentColor" viewBox="0 0 24 24" cdkDragHandle>
        <path
          d="M10 9h4V6h3l-5-5-5 5h3v3zm-1 1H6V7l-5 5 5 5v-3h3v-4zm14 2l-5-5v3h-3v4h3v3l5-5zm-9 3h-4v3H7l5 5 5-5h-3v-3z"
        ></path>
        <path d="M0 0h24v24H0z" fill="none"></path>
      </svg>
    </div>
    <div class="shedule-items">
      @for (item of fridayItem; track item) {
      <div
        class="shedule-item-input"
        (dblclick)="removeItem(item, fridayItem)"
        cdkDrag
      >
        {{ item }}
      </div>
      }

      <div class="shedule-item-new hide" #newFridayItem>
        <input type="text" class="shedule-item-input" #newFridayItemInput />
      </div>
      <div class="shedule-dropzone"></div>
    </div>

    <button
      class="shedule-add-item"
      type="button"
      (click)="
        addItem(newFridayItemInput.value, fridayItem, newFridayItemInput)
      "
    >
      <span>+</span> Add
    </button>
  </div>
</div>
